<h1>NEW SIGN UP PAGE</h1>

<form action="/sign_up" method="POST">
<p>Email: <input type="email" name="user[email]" /></p>
<p>Username: <input type="text" name="user[username]" /></p>
<p>password: <input type="password" name="user[password]" /></p>
<p>password confirmation: <input type="password" name="user[password_confirmation]" /></p>

<input type="submit" value="Sign up!">
</form>