<h1>NEW APPOINTMENT</h1>

<form action="/appointments" method="POST">
<p>name: <input type="text" name="appointments[name]" /></p>
<p>technician: <input type="text" name="appointments[technician]" /></p>
<p>appointment: <input type="datetime-local" name="appointments[appointment]" /></p>

<input type="submit" value="Schdule Appointment">
</form>