<div class="container">
  <header><img src="https://i.pinimg.com/564x/fe/4c/5e/fe4c5e4446d560427c2e6e73d412a96b.jpg" </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Nails by Mi</h2>

    <div class="content">
      <p>Welcome!</p>
      <p> To schdule an appointment please sign up <a href="http://127.0.0.1:9393/sign_up">HERE</a> or click <a href="http://127.0.0.1:9393/login">HERE</a> to login!</p>
    </div>

    

  </div>
</div>
